<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
background:#fff;
}

.card{
width:500px;
padding:20px;
border-radius:10px;
box-shadow:0 0 20px rgba(0,0,0,0.1);
text-align:center;
}

@media(max-width:768px){
.card{
width:90%;
}
}
</style>

</head>

<body>

<div class="card">
<h2>$cname</h2>
<p>$gname</p>
<p>$date</p>
<p>$loc</p>
</div>

</body>
</html>